@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/*--------------------------------------------Colors*/


.bg-color-title{
    background-color: #000000;
}

.ui-menu-color{
    background-color: #f00000;
}

.bg-color-what-we-do{
    background-color: #F8F8FF;
}

.bg-color-contact {
    background-color: #ffffff;
}
/*--------------------------------------------special paddings/margins.text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color: #fafafa
}
/*--------------------------------------------Heading*/
header{
    margin: 0;
}


.heading {
    text-align: center;
}


.title {
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f00000;
}
#nav {
    margin-bottom: 50px;
    margin-left: 0;
    padding:0;
}


.menuitem{
    height: 30px;
    text-align: center;
    padding:0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    padding-top: 5px;
    color: #000000;
}

.menuitem span {
    width: 100%;
    display: block;
    font-weight:200px;
}


.hvr-sweep-to-bottom:before{
    background: rgba(0, 0, 0, 0.2);
    height: 30px;
}
/*--------------------------------------------body*/
.img-fluid{
    background-position: left;
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height:100%;
    margin-bottom: 30px;
}


.section-column {
    margin-bottom: 30px;
    
}

.iframe-container {
        float: none;
        clear: both;
        width: 560px;
        position: relative;
        padding-bottom:24%;
        padding-top: 25px;
        height: 0;
        margin: 0 auto;
        max-width: 100%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 315px;
}


/*-------------------------------------------links*/ 
#useful-links  li {
    list-style-type: none;
}
#useful-links a {
    color: #f00000;
}
/*-------------------------------------------contact*/
.contact-heading {
    font-family: "Exo",sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}
/*--------------------------------------------footer*/

footer{
    background-color: #000000;
    color: #f00000;
    min-height: 80px;
    margin-top: 50px;
}

.social-links li a i {
    color: #f00000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}


