@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/*--------------------------------------------Colors*/


.bg-color-title{
    background-color: #000000;
}

.ui-menu-color{
    background-color: #f00000;
}

.bg-color-what-we-do{
    background-color: #F8F8FF;
}

/*--------------------------------------------special paddings/margins.text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color: #fafafa
}
/*--------------------------------------------Heading*/
header{
    margin: 0;
}


.heading {
    margin-left: 200px;
}


.logo{
    background: url("/assets/images/1907565_275801195917301_792561902_n.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    min-height: 100px;
    
}

.title {
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f00000;
}
#nav {
    margin: 0;
    padding:0;
}


.menuitem{
    height: 30px;
    text-align: center;
    padding:0;
}

.menuitem a{
    width: 100%;
    text-decoration: none;
    padding-top: 5px;
    color: #000000;
}

.menuitem span {
    width: 100%;
    display: block;
    font-weight:200px;
}


.hvr-sweep-to-bottom:before{
    background: rgba(0, 0, 0, 0.2);
    height: 30px;
}
/*--------------------------------------------body*/
.img-fluid{
    background-position: left;
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height:100%;
    padding-top: 5px;
    padding-bottom: 50px;
}



 
/*--------------------------------------------footer*/

footer{
    background-color: #000000;
    color: #f00000;
    min-height: 80px;
    margin-top: 300px;
}

.social-links li a i {
    color: #f00000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
}
.social-links li a i:hover{
    background: #e864610;
}

